body {
	background-color: #A79AB2;
}
h1{
	text-align: center;
	font-family: "georgia", sans-serif;
	text-decoration: underline;
}
h4{
	text-align: center;
	font-family: "georgia", serif;
}
p{
	text-align: center;
	font-family:"georgia", sans-serif;
}
img{
	border-color: #000000;
	border-width: 2px;
	border-style: solid;
	border-radius: 10%;
}
a:hover{
	color: #7765E3;
}
#home{
	background:#FFFFFF;
	height: 20px;
	width: 100%;
}